.main {
    display: flex;
    flex-direction: column;
    width: 70%;
    background-color: var(--color-background);
    align-items: center;
    gap: var(--space-2xl);
    padding: var(--space-3xl);
    margin: 0 auto;
    flex: 1;
}

.legal {
    gap: 0;
}

.auth {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ***********************************
    Responsive
*********************************** */

@media screen and (max-width: 1024px) {
    .main {
        width: 100%;
        padding: var(--space-xl);
    }
}