.icon-band {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    color: var(--white);
    flex-shrink: 0
}

.icon-band--blue {
    background-color: var(--color-primary);
    border: 1px solid var(--white);
}

.icon-band--light-blue {
    background-color: var(--light-blue);
}

.icon-band--green {
    background-color: var(--green);
}

.icon-band--danger {
    color: var(--red);
    border: 2px solid var(--red);
}

.icon-band--reminder {
    color: var(--orange);
    border: 2px solid var(--orange);
}

.icon-band__sign {
    font-size: var(--text-lg);
    font-weight: var(--weight-bold);
}

.badge-status {
    display: flex;
    padding: 10px 15px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 14px;
}

.badge-status--finish {
    border: 1px solid var(--med-blue);
    background: var(--pale-blue);    
}

.badge-status--success {
    border: 1px solid var(--green);
    background: var(--pale-green);
}

.badge-status--warning {
    border: 1px solid var(--orange);
    background: rgba(--pale-orange);
}

.badge-status--danger {
    border: 1px solid var(--red);
    background: var(--pale-red);
}

@media screen and (max-width: 1050px) {

}