.icon-band {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    color: var(--white);
    flex-shrink: 0
}

.icon-band--blue {
    background-color: var(--color-primary);
    border: 1px solid var(--white);
}

.icon-band--light-blue {
    background-color: var(--light-blue);
}

.icon-band--green {
    background-color: var(--green);
}

.icon-band--danger {
    color: var(--red);
    border: 2px solid var(--red);
}

.icon-band--reminder {
    color: var(--orange);
    border: 2px solid var(--orange);
}

.icon-band__sign {
    font-size: var(--text-lg);
    font-weight: var(--weight-bold);
}

@media screen and (max-width: 1050px) {

}