/* FORMS' FIELDS */

.form-field {
    display: flex;
    flex-direction: column;
    gap: var(--space-sm);
    width: 100%;
}

.form-field__label {
    font-family: var(--font-primary);
    font-size: var(--title-h4);
    width: 100%;
}

.form-field__description {
    color: #6A6A6A;
    font-style: italic;
    width: 100%;
}

.form-field__control {}

.form-field__error {}

.form-input {
    width: 100%;
    height: 30px;
    border-bottom: 2px solid var(--gray);
    background-color: #E7E7E7;
    width: 100%;
}

.form-checkbox {}

.form-radio {
    width: 16px;
    height: 16px;
    fill: var(--white);
    stroke-width: 1px;
    stroke: var(--gray);
}

.form-select {}

.form-textarea {}

.form-input--date {}

.form-input--currency {}

.form-currency__symbol {}

/* FORMS' CARD */

.form-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-xl);
    width: 100%;
}

.form-card__content {
    width: 100%;
}

.form-card__title {
    font-family: var(--font-primary);
    font-size: var(--title-h3);
    width: 100%;
}

.form-card__description {}

.form-card__content {
    display: flex;
    flex-direction: column;
    gap: var(--space-xl);
}

/* STEP INDICATOR */

.step-indicator {
    display: flex;
    flex-direction: column;
    gap: var(--space-xl);
    width: 100%;
}

.step-indicator__count,
.step-indicator__next {
    font-family: var(--font-secondary);
    font-size: var(--text-base);
    color: #484848;
}

.step-indicator__title {
    font-family: var(--font-primary);
    font-size: var(--title-h3);
    font-weight: var(--weight-bold);
}

.step-indicator__bar {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1px;
    width: 100%;
    height: 7px;
}

.step-indicator__progress {
    background-color: var(--color-primary);
}

.step-indicator__part {
    background-color: #c8c8c8;
}

.step-indicator__next {
    font-style: italic;
}

.step-indicator__next-important {
    font-weight: var(--weight-bold);
}