/**********************************
Sections Hero
**********************************/

.hero-container {
    display: flex;
    padding: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-background);
    width: 100%;
    font-family: var(--font-primary);
    gap: 16px;
}

.hero-container__title {
    color: var(--color-primary);
    width: 100%;
    font-size: 36px;
    font-weight: 900;
}

.hero-container__description {
    text-align: justify;
    width: 100%;
}

/***** home *****/

.hero--home {
    box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    gap: 24px;
}

.hero--home, .hero__description {
    font-size: 36px;
}

/***** public *****/

.hero--home .hero-container__description {
    font-size: 36px;
}

.hero--public .hero-container__description {
    font-size: 20px;
}

/***** guide ******/
.hero--guide {
    align-items: flex-start;
}

/***********************************
Section lien de redirection
***********************************/

.section-cards-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
}

/***********************************
Sections
***********************************/

.section-container {
    display: flex;
    padding: 50px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    border-radius: 12px;
    background: var(--color-background);
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.25);
    width: 100%;
    scroll-margin-top: 120px;
}

.section-container--left {
    align-items: flex-start;
    text-align: left;
}

.section-container--left .section-container__contents {
    align-items: flex-start;
}

.section-container__title {
    color: var(--color-primary);
    font-family: var(--font-primary);
    font-size: 32px;
    line-height: 140%;
    width: 100%;
}

.section-container__description {
    width: 100%;
}

.section-container__contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 24px;
}

.section-container--withoutborder {
    box-shadow: none;
    align-items: flex-start;
    text-align: left;
    padding-top: 20px;
    padding-bottom: 20px;
}

.section-container--withoutborder .section-container__contents {
    align-items: flex-start;
    text-align: left;
    gap: 16px;
}

.section-container--blue {
    background-color: var(--color-background-second);
}

.section-container__row {
    flex-direction: row;
    justify-content: space-between;
}

/* Section Band (band blue) */

.section-band {
    display: flex;
    padding: 5px 20px;
    align-items: center;
    gap: 15px;
    border-radius: 12px;
    background-color: var(--color-primary);
    width: 100%;
}

.section-band__icon {
    width: 40px;
    height: 40px;
}

.section-band__content {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
}

.section-band__title {
    font-size: 20px;
    font-weight: 700;
}

.section-band--blue {
    color: var(--white);
}

/**********
 GUIDES 
**********/

/* Section Steps Container */

.step-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.steps-container__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    /* grid-template-columns: repeat(2, 1fr); */
    /* grid-template-areas: "content visual"; */
    width: 100%;
}

.steps-container__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    grid-area: content;
}

.steps-container__question {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.steps-container__question-title {
    font-weight: 700;
}

.steps-container__visual {
    height: 100%;
    grid-area: visual;
}

.step-container__footer {
    
}

/* ***********************************
    Responsive
*********************************** */

@media screen and (max-width: 1050px) {
    .hero-container__description {
        text-align: left;
    }

    .section-cards-container {
        justify-content: center;
    }

    .section-container__row {
        flex-direction: column;
    }
}