:root {
  /* ***********************************
    TYPOGRAPHIE
  *********************************** */
  --font-primary: "Mariane", Arial, sans-serif;
  --font-secondary: "Arial", sans-serif;

  /* ***********************************
    COULEURS
  *********************************** */
  --color-primary: var(--blue);
  --color-secondary: #0078A8;

  --color-success: var(--green);
  --color-error: var(--red);

  --color-text: var(--gray);

  --color-background: var(--white);
  --color-background-second: var(--pale-blue);

  --color-border: #e0e0e0;

  
  --blue: #003366;
  --med-blue: #185FA5; 
  --light-blue: #54A5E6;
  --pale-blue: #D9E4EE;
 
  --dark-green: #2E7D32;
  --green: #4CAF50;
  --pale-green: #EAF7EA;
 
  --red: #D32F2F;
  --pale-red: #FDECEA;

  --orange: #F57C00;
  --pale-orange: #FFF8E1;

  --gray: #333333;
  --light-gray: #F4F6F9;

  --white: #FFFFFF;

  /* ***********************************
    RADIUS
  *********************************** */
  --radius-sm: 8px;
  --radius-md: 16px;
  --radius-lg: 24px;

  /* ***********************************
    SHADOW
  *********************************** */  
  --shadow-sm: 0 2px 8px rgba(0, 0, 0, 0.06);

  /* ***********************************
    SPACING
  *********************************** */ 
  --space-xs: 0.5rem;
  --space-sm: 0.75rem;
  --space-md: 1rem;
  --space-lg: 1.5rem;
  --space-xl: 2rem;
  --space-2xl: 3rem;

  /* ***********************************
    BREAKPOINTS
  *********************************** */
  --bp-mobile: 480px;
  --bp-tablet: 768px;
  --bp-desktop: 1024px;
  
}