:root {
  /* ***********************************
    TYPOGRAPHIE
  *********************************** */
  --font-primary: "Mariane", Arial, sans-serif;

  /* ***********************************
    COULEURS
  *********************************** */
  --color-primary: #003366;
  --color-secondary: #0078A8;

  --color-success: #4CAF50;
  --color-error: #D32F2F;

  --color-text: #333333;
  --color-background: #FFFFFF;

  --color-border: #e0e0e0;

  /* ***********************************
    RADIUS
  *********************************** */
  --radius-sm: 8px;
  --radius-md: 16px;
  --radius-lg: 24px;

  /* ***********************************
    SHADOW
  *********************************** */  
  --shadow-sm: 0 4px 12px rgba(0, 0, 0, 0.06);

  /* ***********************************
    SPACING
  *********************************** */ 
  --space-xs: 0.5rem;
  --space-sm: 0.75rem;
  --space-md: 1rem;
  --space-lg: 1.5rem;
  --space-xl: 2rem;
  --space-2xl: 3rem;

  /* ***********************************
    BREAKPOINTS
  *********************************** */
  --bp-mobile: 480px;
  --bp-tablet: 768px;
  --bp-desktop: 1024px;
  
}