*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  min-height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  margin: 0;
  font-family: var(--font-secondary);
  color: var(--color-text);
  background-color: var(--color-page-background);
  line-height: var(--line-text);
  font-size: var(--text-base);
  min-height: 100vh;
}

h1, h2, h3, h4 {
  font-family: var(--font-primary);
  color: var(--color-primary);
}

img {
  display: block;
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
input,
textarea,
select {
  font: inherit;
  border: none;
}

li {
  list-style: none;
}

@media screen and (max-width: 1050px) {
  section {
    padding: var(--space-xl);
  }
}